@import "../../../styles/ClassStyles.scss";

.add-cat-content {
  margin: 0 0 40px 0;
  &:after {
    content: attr(data-error);
    @extend %msg-style;
    color: $fail-text;
  }
  h2 {
    font-weight: 600;
  }
  option {
    color: rgba(255, 255, 255, 0.01);
  }
  button {
    margin: 20px 0 0 0;
    display: inline-block;
  }
}
